
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@*<form asp-action="" asp-controller="" method="post"
      enctype="multipart/form-data" class="form-horizontal" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="" class="form-control">County <span style="color:red">*</span>:</label>
                <select class="form-control" asp-for="CountyId" id="countySelector" onchange="applicationType()" required>
                    <option value="">Select County</option>
                </select>
                <span asp-validation-for="CountyId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="make request" style="background-color:#33c481;color:white;" class="submit_button btn btn-primary pull-right">
    </div>
</form>*@
