.ibox-more {
    margin: -10px -25px 0px -25px;
}

.logout-btn {
    float: right;
}

.main-image {
    width: 80%;
    height: 100%;
    background-image: url('../img/p_big3.jpg');
    background-size: cover;
    visibility: visible;
    display: block;
}

.background-element {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.login-panel {
    background-color: white;
    position: fixed;
    right: 0;
    float: right;
    height: 100%;
    width: 35%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.login-panel-inner {
    width: 90%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    margin-top: 50px;
}

.govt-logo {
    max-height: 80px;
    margin-bottom: 5px;
}

.panel-more {
    height: 100%;
}

.footer-more {
    border: 0px;
    background: none;
}

.copyright-area {
    vertical-align: central;
}

.list-group-item-more {
    padding: 5px 0px;
    border: 0px;
}

.panel-title-more {
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.login-side-main {
    height: 100%;
    width: 65%;
    background-image: url('../images/blade.png');
    /*background-image: url('../images/Logos/Background.png');*/
    background-repeat:repeat;
    background-size: contain;
}
.login-bg-brand {
    background-image: url('../images/Logos/Background.png') !important;
}

@media(max-width: 920px) {
    .login-panel {
        width: 45%;
    }

    .login-side-main {
        width: 55%;
    }
}

@media(max-width: 768px) {
    .login-panel {
        width: 70%;
    }

    .login-side-main {
        width: 30%;
    }

    .login-panel-inner {
        margin-top: 10px;
    }

    .inner {
        display: none;
    }
}

@media(max-width:350px) {
    .login-panel {
        width: 100%;
        z-index: 20;
        margin-top: 20px;
    }

    .login-side-main {
        width: 100%;
    }
}

.container-more {
    height: 100%;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 65%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.footer-inner {
    margin-top: 30px;
}

.navbar-top-links {
    float: right;
}

@media(min-width:768px) {
    .navbar-top-links {
        margin-right: 15px;
    }
}

#logoutForm {
    margin-top: 13px;
}

    #logoutForm h5 > a {
        font-size: 14px;
        color: #013644;
        font-family: 'Segoe UI', sans-serif;
    }

.navbar-static-top {
    margin: 0;
    padding-bottom: 10px;
}

.adims-name {
    font-weight: bold;
    font-size: 15px;
    width: 600px;
}

.adims-name-phone {
    font-weight: bold;
    font-size: 15px;
    display: none;
}
